<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.greathealth.greathealth.mapper.SysUserPlusMapper">
    <select id="findByDeptIdAndKeys" resultType="com.greathealth.greathealth.domain.vo.SysUserVo">
        select a.*,b.dept_name ,b.dept_type ,b.department_id from sys_user a left join sys_dept b on a.dept_id
        =b.dept_id
        <where>
            <if test="sysUserDto.userId != null  and sysUserDto.userId != ''">and a.user_id =
                #{sysUserDto.userId}
            </if>
            <if test="sysUserDto.deptId != null  and sysUserDto.deptId != ''">and a.dept_id =
                #{sysUserDto.deptId}
            </if>
            <if test="sysUserDto.userName != null  and sysUserDto.userName != ''">and a.user_name =
                #{sysUserDto.userName}
            </if>
            <if test="sysUserDto.nickName != null  and sysUserDto.nickName != ''">and a.nick_name =
                #{sysUserDto.nickName}
            </if>
            <if test="sysUserDto.sex != null  and sysUserDto.sex != ''">and a.sex =
                #{sysUserDto.sex}
            </if>
            <if test="sysUserDto.status != null  and sysUserDto.status != ''">and a.status =
                #{sysUserDto.status}
            </if>
            <if test="sysUserDto.delFlag != null  and sysUserDto.delFlag != ''">and a.del_flag=
                #{sysUserDto.delFlag}
            </if>
            <foreach item="id" collection="ids" open="and a.dept_id in (" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </select>
</mapper>
